{% extends "base.html" %}
<br>

{% block content %}

<div class="col-md-6 offset-md-3"> <!-- bootstrap code to move into middle -->

        <h1>CRM SignUp</h1>
        <br>

        <form method="post" action="">
            {% csrf_token %}

            <fieldset>

              {{ form.as_p }}
             
                <div class="control-group">
                  <!-- Button -->
                  <div class="controls">
                    <button type="submit" class="btn btn-success" value="signup">SignUp</button>
                  </div>
                </div>
              </fieldset>

        </form>

</div>


{% endblock %}